.App {
  text-align: center;
}

.App div {
  margin: 20px;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.App h2 {
  font-size: 1.5em;
  margin: 0;
}

.App p {
  margin: 5px 0;
  font-size: 1.2em;
}
